<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0E109AAC-50AE-441B-9818-1229C85BA9C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>884B2E3A-B80E-4B05-A009-995B5CF021CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19D9E19F-24BC-4EC2-ADC3-D6DCA7A05438</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A953FC3-8781-4077-818E-9015617686D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DE37444-8BE8-4E47-AD36-0577159B82F0</key>
		<array/>
		<key>4CF01FE5-189B-497F-A079-C11EE15C4A74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DE37444-8BE8-4E47-AD36-0577159B82F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F861AD7-A1C0-4353-9D4A-DD2CFBB251BA</key>
		<array/>
		<key>949129BB-8932-4057-B21B-AFE3EA59B13B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F861AD7-A1C0-4353-9D4A-DD2CFBB251BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeroen Abrahams</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tempo registration</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH="/opt/homebrew/bin:/usr/local/bin:${PATH}"
python tempo_run.py --date=$(date +%F)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5F861AD7-A1C0-4353-9D4A-DD2CFBB251BA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tempo</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Tempo today sync Tyme 2</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>949129BB-8932-4057-B21B-AFE3EA59B13B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/Developer/Repos/Personal/Alfred/Tempo
python tempo_run.py --date=$(date -v-1d +%F)
sleep 3
</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>2A953FC3-8781-4077-818E-9015617686D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tempo yes</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Sync Tempo Tyme2 yesterday</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>19D9E19F-24BC-4EC2-ADC3-D6DCA7A05438</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tempo cust</string>
				<key>subtext</key>
				<string>Use yyyy-mm-dd format</string>
				<key>text</key>
				<string>Tempo custom day sync Tyme 2</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0E109AAC-50AE-441B-9818-1229C85BA9C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/Developer/Repos/Personal/Alfred/Tempo
python tempo_run.py --date={query}
sleep 3
exit
</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>884B2E3A-B80E-4B05-A009-995B5CF021CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>calslack</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Calendar Slack copy</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4CF01FE5-189B-497F-A079-C11EE15C4A74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python  ~/Developer/Repos/Personal/Alfred/Tempo/slack_run.py
cat ~/Developer/Repos/Personal/Tempo/.temp/Output.txt | pbcopy
exit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>2DE37444-8BE8-4E47-AD36-0577159B82F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0E109AAC-50AE-441B-9818-1229C85BA9C6</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>19D9E19F-24BC-4EC2-ADC3-D6DCA7A05438</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>2A953FC3-8781-4077-818E-9015617686D6</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>2DE37444-8BE8-4E47-AD36-0577159B82F0</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>4CF01FE5-189B-497F-A079-C11EE15C4A74</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>5F861AD7-A1C0-4353-9D4A-DD2CFBB251BA</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>884B2E3A-B80E-4B05-A009-995B5CF021CF</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>949129BB-8932-4057-B21B-AFE3EA59B13B</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
