<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.urlimport.EC567C81-85EC-4179-B623-0EECEA5DA3B3</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.BCA54108-6C81-4355-AECC-A60C58E517A0</string>
</dict>
</plist>
