<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.google.trello-card-search</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>E54F40B9-C01A-4F50-BBDA-F6EE6B759324</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>790C5A45-6890-4EA7-A86F-447AB831626C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Juan Vazquez</string>
	<key>description</key>
	<string>Search for cards in Trello.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Trello Card Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>790C5A45-6890-4EA7-A86F-447AB831626C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Trello Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E54F40B9-C01A-4F50-BBDA-F6EE6B759324</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Setup instructions: 

1. Get a KEY
Get your Key from Trello here: https://trello.com/app-key

2. Get a TOKEN
Under the Key in Trello, click "manually generate a Token" to get a token. 
Screenshot: http://i.imgur.com/eYdw0tz.png

3. Set your KEY and TOKEN
Set your key and token in your environment variables. Instructions here: http://imgur.com/a/ng4s9</string>
	<key>uidata</key>
	<dict>
		<key>790C5A45-6890-4EA7-A86F-447AB831626C</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E54F40B9-C01A-4F50-BBDA-F6EE6B759324</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>KEY</key>
		<string></string>
		<key>TOKEN</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>KEY</string>
		<string>TOKEN</string>
	</array>
	<key>version</key>
	<string>0.0.4</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
